[submodule "afids-hcp-separate"]
	path = afids-hcp-separate
	url = git@github.com:tkkuehn/afids-hcp-separate.git
	datalad-id = 5af37cd3-dcf7-4b5f-9f16-134459b95ce2
	datalad-url = git@github.com:tkkuehn/afids-hcp-separate.git
